
@{
    ViewBag.Title = "Suppliers";
    // Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<style type="text/css">
    .imgIcon {
        width: 0.5%;
        height: 0.5%;
    }

    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 8px;
            padding-bottom: 8px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>
<link href="~/css/bootstrap-timepicker.css" rel="stylesheet" />
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<section class="content-header">
    <h1>
        <i class="fa fa-th-list"></i> Supplier List
    </h1>
</section>
<section class="content">

    <div class="box box-solid">
        <div>
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-search"></i> View Supplier  List
                </h3>
            </div>
        </div>

        <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes"  style=" display: block; overflow-x: auto;">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Title</th>
                    <th>CountryID</th>
                    <th>State</th>
                    <th>CityID</th>
                    <th>Address</th>
                    <th>Region</th>
                    <th>GroupID</th>
                    <th>Postal</th>
                    <th>Phone</th>
                    <th>Fax</th>
                    <th>Website</th>
                    <th>E-Mail</th>
                    <th>EmailAdd</th>
                    <th>PreAmt</th>
                    

                </tr>
            </thead>
            <tbody id="tbodyEmployeeLeaveRequestDetails"></tbody>
        </table>

        <script type="text/html" id="tbodyEmployeeLeaveRequestDetailsJTemplte">
            {#foreach $T as Datashort}
            <tr>
                <td>
                    <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" onclick="Edit({ $T.Datashort.ID})" title="Edit"></i>
                </td>
                <td>
                    <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete({ $T.Datashort.ID })" title="Delete"></i>

                </td>
                <td>
                    { $T.Datashort.ID}
                </td>
                <td>
                    { $T.Datashort.Name}
                </td>
                <td>
                    { $T.Datashort.ContactName}
                </td>

                <td>
                    { $T.Datashort.ContactTitle}
                </td>
                <td>
                    { $T.Datashort.Country}
                </td>
                <td>
                    { $T.Datashort.state}
                </td>


                <td>
                    { $T.Datashort.city}
                </td>
                <td>
                    { $T.Datashort.Address}
                </td>
                <td>
                    { $T.Datashort.region}
                </td>


                <td>
                    { $T.Datashort.group}
                </td>
                <td>
                    { $T.Datashort.postal}
                </td>
                <td>
                    { $T.Datashort.phone}
                </td>
                <td>
                    { $T.Datashort.fax}
                </td>
                <td>
                    { $T.Datashort.Website}
                </td>
                <td>
                    { $T.Datashort.Email}
                </td>
                <td>
                    { $T.Datashort.EmailAddress}
                </td>
                <td>
                    { $T.Datashort.balance}
                </td>



            </tr>
            {#/for}
        </script>
        <input type="hidden" id="hdnID" />
    </div>
</section>
<script src="~/js/bootstrap-timepicker.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        setControlValue("hdnID", 0);
        /*        setControlValue("hdnStatus", 1);*/
        $('.dtpicker').datepicker({
            //dateFormat: 'dd/mm/yy' ,
            autoclose: true,
            format: 'dd/mm/yyyy'
        });

        fillDataTable();

        var ID = getQuerystring("id");
        if (typeof (ID) != "undefined") {
            setControlValue("hdn", ID);//

            GetValues(ID);

        }
        //callServiceMethodForDDl("", "/api/StudentApi", "GetLeaveStatus", "ddlReqStatus", false, "", "", "", "");
    });
    function openModal() {
        $('#myModal').modal('show');
    }


   

    function successMsg(p1, p2, p3, datas) {

        $("#loader").fadeOut();

        setTimeout(function () {
            $('#example1').DataTable({

                dom: 'lBfrtip',
                bRetrieve: true,
                bDestroy: true,
                'columnDefs': [{
                    "targets": -1,
                    "orderable": false
                }],
            });
        }, 1000);
    }

    //
    $("#btnSearch").click(function () {
        fillDataTable();
    });

    function Edit(id) {
        localStorage.setItem("EditSupplier", id.toString());
        window.location.href = "/Business/NewSupplier?id=" + id;
    }




    function Delete(id) {
        var result = window.confirm('Are you sure,you want to Delete this record?');
        if (result == true) {
            $.ajax({
                url: "/api/AccountAPI/DeleteRecord",
                type: "Post",
                data: JSON.stringify([id, (sessionStorage.getItem("userId")), "Suppliers"]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data == 1) {
                        $("#divsuccesmsg").fadeIn();

                        $("#spsuccessMsg").html("Record successfully deleted");
                        setTimeout(function () {
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        }, 2000)
                        ResetModal();
                        fillDataTable();
                    }
                }
            });
        }
    }

</script>
<script>
    function fillDataTable() {
        $("#loader").fadeIn();
        var Territory = getControlValue("txTerritory");
        var region = getControlValue("ddlRegin");
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        var SchoolID = (sessionStorage.getItem("SchoolID"));

        var t = $('#example1').DataTable();
        t.destroy();

        callJTemplateServiceMethod(JSON.stringify([Territory, region, loginuser, typeuser, SchoolID]), "/api/AccountsAPI", "SupplierList",
            "tbodyEmployeeLeaveRequestDetails", "tbodyEmployeeLeaveRequestDetailsJTemplte", true, successMsg, "", "", "");
    }
</script>
