
@{
    ViewBag.Title = "DocumentationNoSchoolAdmin";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutSchoolAdmin.cshtml";
}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<section class="content" ng-app="myApp" ng-controller="CodeGeController">
    <div class="row" id="divAddCourses">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Manage Code
                    </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="alert alert-success centerSuccess" id="divsuccesmsg" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>
                        <i class="icon fa fa-check"></i>
                        success! <span ng-bind="successMsg"></span>
                    </h4>

                </div>
                <form role="form" id="form1" name="form1">
                    <div class="box-body">
                        <div class="panel-body">

                            <div class="col-sm-4 form-group">
                                @*<input class="form-control" id="txtdocCode" style="display:none" ng-model="txtdocCode" type="text">*@
                                <label class="col-md-5">School Name<span class="requird">*</span></label>
                                <div class="col-md-7">
                                    <select class="form-control" name="ddlSchoolName" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name"></select>

                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <input class="form-control" id="txtdocCode" style="display:none" ng-model="txtdocCode" type="text">
                                <label class="col-md-5">User Type<span class="requird">*</span></label>
                                <div class="col-md-7">
                                    <select name="ddlDocumentType" id="ddlDocumentType" class="form-control" ng-model="ddlDocumentType">
                                        <option value="Student" selected>Student</option>
                                        <option value="Employee">Employee</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label class="col-md-5">Prefix <span class="requird">*</span></label>
                                <div class="col-md-7">
                                    <input type="text" maxlength="20" name="txtPrefix" id="txtPrefix" ng-model="txtPrefix" tabindex="2" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label class="col-md-5">Suffix <span class="requird">*</span></label>
                                <div class="col-md-7">
                                    <input type="text" maxlength="10" name="txtSuffix" id="txtSuffix" ng-model="txtSuffix" tabindex="3" class="form-control">
                                </div>
                            </div>
                            <div id="sepdis2" class="col-sm-4 form-group">
                                <label class="col-md-5">Increment No <span class="requird">*</span></label>
                                <div class="col-md-7">
                                    <input type="text" maxlength="10" readonly="readonly" name="txtStatt" id="txtStatt" ng-model="txtStatt" tabindex="4" class="form-control" value="1">
                                </div>
                            </div>
                            <div id="sepdis1" class="col-sm-4 form-group">
                                <label class="col-md-5">Series Start From  <span class="requird">*</span></label>
                                <div class="col-md-7">
                                    <input type="text" maxlength="10" readonly="readonly" name="txtSeriesStart" id="txtSeriesStart" ng-model="txtSeriesStart" value="1" tabindex="5" class="form-control" />
                                </div>
                            </div>
                            <div id="sepdis" class="col-sm-4 form-group">
                                <label class="col-md-5">Separator <span class="requird">*</span></label>
                                <div class="col-md-7">
                                    <input type="text" maxlength="1" readonly="readonly" name="txtSeperator" id="txtSeperator" ng-model="txtSeperator" tabindex="6" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label class="col-md-5">Status</label>
                                <div class="col-md-7">
                                    <label class="radio-inline">
                                        <input type="checkbox" ng-model="chkStatus" id="chkStatus" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 text-right" style="clear: both;">
                                <input type="button" ng-click="saveCodeGeneration()" class="btn btn-primary" value="Save" />
                                <input type="button" ng-click="clearAllTexbox()" class="btn btn-primary" value="Reset" />

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">

                <div class="box-body">
                    <div class="form-group">

                        <table id="example1" class="table table-bordered table-striped" style="width:100%">
                            <thead style="background-color:steelblue;color:white;width:100%;">
                                <tr>
                                    <th>School</th>
                                    <th>User Type</th>
                                    <th>Prefix</th>
                                    <th>Suffix</th>
                                    <th>Start</th>
                                    <th>Last</th>
                                    <th>Seprator</th>
                                    <th>Status</th>
                                    <th>Incremented by</th>
                                    <th>Action</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="employee in employees" ng-class-odd="'oddTr'">

                                    <td>
                                        {{employee.School}}

                                    </td>
                                    <td>
                                        {{employee.DocType}}

                                    </td>
                                    <td>
                                        {{employee.Prefix}}

                                    </td>
                                    <td>
                                        {{employee.Suffix}}

                                    </td>

                                    <td>
                                        {{employee.StartSeries}}

                                    </td>
                                    <td>
                                        {{employee.LastSeries}}

                                    </td>
                                    <td>
                                        {{employee.Seprator}}
                                    </td>

                                    <td>
                                        {{employee.Statusshow}}

                                    </td>
                                    <td>
                                        {{employee.DocNo}}

                                    </td>

                                    <td>
                                        <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" ng-click="editCodeDocuemntById(employee)"></i>
                                        &nbsp;
                                        @*commented avi*@
                                        @*<i class="fa fa-fw fa-trash" style="cursor:pointer" ng-click="deleteCodeDocumentById(employee)"></i>*@

                                    </td>



                                </tr>


                            </tbody>

                        </table>




                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- /.row -->
</section>

<script src="~/js/angular.min.js"></script>



<script src="~/js/Angular/Module.js"></script>
<script src="~/js/Angular/Service.js"></script>
<script src="~/js/Angular/controller.js"></script>


<!-- DataTables -->
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }
</style>



<script type="text/javascript">
    $(document).ready(function () {
        $("#txtSeriesStart").val(1);
        $("#txtStatt").val(1);
        $("#txtSeperator").val("/");

        $("#sepdis").hide();
        $("#sepdis1").hide();
        $("#sepdis2").hide();
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                ddlDocumentType: {
                    selectcheck: true
                },
                ddlSchoolName: {
                    selectschoolcheck: true
                },
                txtPrefix: "required",
                txtSuffix: "required",
                //txtSeriesStart: "required",
                txtSeperator: "required",
                //   txtStatt: "required",
            },
            messages: {

                txtPrefix: "Please Enter Prefix",
                txtSuffix: "Please Enter Suffix",
                //txtSeriesStart: "Please Enter Start Series",
                ddlClass: "Please Select Document Type",
                txtSeperator: "Please Enter Seprator",
                //  txtStatt: "Please Enter Increment No",
            }
        })
        jQuery.validator.addMethod('selectcheck', function (value) {
            if (value == "0") {
                return (value != '0');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select User Type");

        jQuery.validator.addMethod('selectschoolcheck', function (value) {
            if (value == "0") {
                return (value != '0');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please select School");

        //jQuery('#txtStatt').keyup(function () {
        //    this.value = this.value.replace(/[^0-9\.]/g, '');
        //    if (parseInt(this.value) < 1) {
        //        jQuery('#txtStatt').val("1");
        //    }
        //});
    });
</script>