

@{
    ViewBag.Title = "AddCourse";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<section class="content" ng-app="myApp" ng-controller="addBatch">
    <div class="row" id="divAddCourses">
        <form role="form" id="form1" name="form1">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            New Academic Year
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="alert alert-danger centerSuccess" id="diverrormsg" style="display:none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            <i class="icon fa fa-close"></i>
                            Error! <span ng-bind="errorMsg"></span>
                        </h4>
                    </div>
                    <div class="alert alert-success alert-dismissible centerSuccess" id="divsuccesmsg" style="display:none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            <i class="icon fa fa-check"></i>
                            success! <span ng-bind="successMsg"></span>
                        </h4>

                    </div>
                    <div class="box-body">

                        <div class="panel-body">
                            <div class="form-group">
                                <label for="Country" class="req">School<span class="requird">*</span></label>
                                <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name"></select>

                            </div>
                            <div class="form-group">
                                <label>Start Date <span class="requird">*</span></label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control dtp" id="txtStartDate" name="txtStartDate" ng-model="txtStartDate">
                                </div>
                                <!-- /.input group -->
                            </div>

                            <div class="form-group">
                                <label>End Date <span class="requird">*</span></label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control dtpicker" id="txtEndDate" name="txtEndDate" ng-model="txtEndDate" />
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>


                    </div>

                </div>
                <!-- /.box-body -->



            </div>
            <!-- /.box -->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="panel-body">

                            <div class="form-group">
                                <input type="text" style="display:none" ng-model="txtBatchId" />
                                <label for="reg_input_name" class="req">Description  </label>
                                <input class="form-control" name="txtDesc" id="txtDesc" type="text" ng-model="txtDesc" />

                            </div>
                             <div class="form-group">
                                <label for="reg_input_name" class="req">Active</label><br />
                                <label>
                                    <input type="checkbox" id="chkstatus" ng-model="chkstatus">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="reg_input_name" class="req">Current Academic Year</label><br />
                                <label>
                                    <input type="checkbox" id="chkstatus1" ng-model="chkstatus1">
                                </label>
                            </div>
                            <div class="box-footer">
                                @*<button type="submit" class="btn btn-primary">Submit</button>*@
                                <input type="button" ng-click="saveBatch()" class="btn btn-primary" value="Save" />
                                <input type="button" ng-click="clearAllTexbox()" class="btn btn-primary" value="Reset" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--/.col (left) -->


    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">View Academic year</h3>
            </div>
            <div class="box-body">
                <div class="form-group">

                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead style="background-color:steelblue;color:white" >
                            <tr>
                                <th>School</th>
                                <th>Academic Year</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Active Academic Year</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="employee in employees" ng-class-odd="'oddTr'">
                                <td>
                                    {{employee.School}}
                                </td>
                                <td>
                                    {{employee.Class}}

                                </td>
                                <td>
                                    {{employee.StartDate}}

                                </td>
                                <td>
                                    {{employee.EndDate}}

                                </td>
                                <td>
                                    {{employee.Name}}

                                </td>
                                <td>
                                    {{employee.StatusShow}}

                                </td>
                                <td>
                                    {{employee.CurrActiveShow}}

                                </td>

                                @*<td>
            <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" ng-click="editBatchById(employee)"></i>
            &nbsp;
            <i class="fa fa-fw fa-trash" style="cursor:pointer" ng-click="deleteBatchById(employee)"></i>
        </td>*@
                                <td>
                                    <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" ng-click="editBatchById(employee)"></i>
                                    &nbsp;
                                    <i class="fa fa-fw fa-trash" style="cursor:pointer" ng-click="deleteBatchById(employee)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>



<script src="~/js/angular.min.js"></script>

<script src="~/js/Angular/Module.js"></script>
<script src="~/js/Angular/Service.js"></script>
<script src="~/js/Angular/controller.js"></script>


<!-- DataTables -->
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#txtStartDate').datepicker({
            autoclose: true,
            orientation: 'bottom'
        });
        $('#txtEndDate').datepicker({
            autoclose: true,
            orientation: 'bottom'
        });

    });

</script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }
</style>
@*<script>
      $(function () {

        $('#example2').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : false,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : false
        })
      })
    </script>*@
<script type="text/javascript">
    $(document).ready(function () {
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {

                txtStartDate: {
                    required: true,
                    date: true
                },
                txtEndDate: {
                    required: true,
                    date: true
                },


            },
            messages: {
                txtStartDate: "Please Enter Start Date",
                txtEndDate: "Please Enter End Date",
                // txtCoursecoursecode: "Please Enter Class Code"

            }
        })



    });
</script>
