

@{
    ViewBag.Title = "Bank";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<link href="~/css/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />

<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/css/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2();
    })

</script>
<section class="content">
    <div class="box box-solid">
        <div class="et">
            <div class="box-header with-border">
                <h3 class="box-title">Bank</h3>

            </div>
        </div>
        <div class="alert alert-success alert-dismissible centerSuccess" id="divsuccesmsg" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                <i class="icon fa fa-check"></i>
                success! <span Id="spsuccessMsg"></span>
            </h4>

        </div>

        <div class="box-body">
            <div class="row">

                <div class="content">



                    <div class="row">
                        <form role="form" id="form1" name="form1">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"> New Bank</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                                    <label class="req" for="Salarydetails_unit">Bank Name <span class="requird">*</span> </label>
                                                    <input class="form-control" id="txtBank" name="txtBank" type="text" ng-model="txtBank" />
                                                </div>
                                                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                                    <label class="req" for="Salarydetails_unit">Ac Name <span class="requird">*</span> </label>
                                                    <input class="form-control" id="txtAc" name="txtAc" type="text" ng-model="txtAc" />
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                                    <label class="req" for="Salarydetails_unit">Ac Number <span class="requird">*</span> </label>
                                                    <input class="form-control" id="txtNumber" name="txtNumber" type="text" ng-model="txtNumber" />
                                                </div>
                                                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                                    <label class="req" for="Salarydetails_unit">Branch  <span class="requird">*</span></label>
                                                    <input class="form-control" id="txtBranch" name="txtBranch" type="text" ng-model="txtBranch" />
                                                </div>

                                            </div>
                                            <div class="col-sm-12">

                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">Upload Images in Product Details</h4>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div>
                                                            <div class="form-group col-lg-6">
                                                                <label for="reg_input_logo">Upload Image</label>
                                                                <input id="GalleryImage" type="file">
                                                            </div>

                                                            <div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="form_sep">
                                                        <input class="btn btn-info" id="btnSumit" type="button" value="Save">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="hdnID" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-sm-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Bank List</h3>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">

                                        <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                                            <thead>
                                                <tr>
                                                    <th>Bank_ID</th>
                                                    <th>Bank_Name</th>
                                                    <th>AC_Name</th>
                                                    <th>Ac_Number</th>
                                                    <th>Branch</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>

                                                </tr>
                                            </thead>
                                            <tbody id="tbodyEmployeeLeaveRequestDetails"></tbody>
                                        </table>

                                        <script type="text/html" id="tbodyEmployeeLeaveRequestDetailsJTemplte">
                                            {#foreach $T as Datashort}
                                            <tr>
                                                <td>
                                                    { $T.Datashort.ID}
                                                </td>
                                                <td>
                                                    { $T.Datashort.BankName}
                                                </td>
                                                <td>
                                                    { $T.Datashort.ACName}
                                                </td>
                                                <td>
                                                    { $T.Datashort.ACnumber}
                                                </td>
                                                <td>
                                                    { $T.Datashort.Branch}
                                                </td>
                                                <td>
                                                    <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" onclick="Edit('{ $T.Datashort.ID}','{ $T.Datashort.BankName}','{ $T.Datashort.ACName}','{ $T.Datashort.ACnumber}','{ $T.Datashort.Branch}')" title="Edit"></i>
                                                </td>
                                                <td>
                                                    <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete({ $T.Datashort.ID })" title="Delete"></i>

                                                </td>

                                            </tr>
                                            {#/for}
                                        </script>
                                        <input type="hidden" id="hdnID" />
                                        @*<input type="hidden" id="hdnStatus" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {

        fillDataTable();
        function fillDataTable() {
            $("#loader").fadeIn();
            var Name = getControlValue("TxtName");
            var Desc = getControlValue("txtDesc");
            var loginuser = (sessionStorage.getItem("userId"));
            var typeuser = sessionStorage.getItem("type");
            var t = $('#example1').DataTable();
            t.destroy();

            callJTemplateServiceMethod(JSON.stringify([Name, Desc, loginuser, typeuser]), "/api/MasterAPI", "BankList",
                "tbodyEmployeeLeaveRequestDetails", "tbodyEmployeeLeaveRequestDetailsJTemplte", true, successMsg, "", "", "");
        }


        $('.dtpicker').datepicker({
            //dateFormat: 'dd/mm/yy' ,supplier
            autoclose: true,
            format: 'dd/mm/yyyy'
        });
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

        var optSimple = {
            format: 'MM/dd/yyyy',
            todayHighlight: true,
            orientation: 'bottom right',
            autoclose: true,
            container: '#sandbox'
        };

        var optComponent = {
            format: 'MM/dd/yyyy',
            container: '#datePicker',
            orientation: 'auto top',
            todayHighlight: true,
            autoclose: true
        };

        // SIMPLE
        $('#simple').datepicker(optSimple);

        // COMPONENT
        $('#datePicker').datepicker(optComponent);

        // ===================================

        $('#datepicker1').datepicker({
            format: "mm : dd : yyyy",
            todayHighlight: true,
            autoclose: true,
            container: '#box1',
            orientation: 'top right'
        });

        $('#datepicker2').datepicker({
            format: 'MM/dd/yyyy',
            todayHighlight: true,
            autoclose: true,
            container: '#box2',
            orientation: 'top right'
        });

        $('#datepicker1, #datepicker2, #simple, #datePicker').datepicker('setDate', today);


        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getSuppliers", "ddlSupplier", false, "", "", "", "");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "GetProducts", "ddlProduct", false, "", "", "", "");

        setControlValue("hdnID", 0);


        var ID = getQuerystring("id");
        if (typeof (ID) != "undefined") {
            setControlValue("hdn", ID);//

            GetValues(ID);

        }

        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                txtName: "required",
            },
            messages: {
                txtName: "Please Enter WareHouse Name",
            }
        })
        //callServiceMethodForDDl("", "/api/StudentApi", "GetLeaveStatus", "ddlReqStatus", false, "", "", "", "");
    });
    function successMsg(p1, p2, p3, datas) {

        $("#loader").fadeOut();

        setTimeout(function () {
            $('#example1').DataTable({

                dom: 'lBfrtip',
                bRetrieve: true,
                bDestroy: true,
                'columnDefs': [{
                    "targets": -1,
                    "orderable": false
                }],
            });
        }, 1000);
    }
</script>
<script type="text/javascript">
    $("#btnSumit").click(function () {
        debugger;
        var ID = getControlValue("hdnID");
        var Bank = getControlValue("txtBank");
        var Ac = getControlValue("txtAc")
        var Number = getControlValue("txtNumber")
        var Branch = getControlValue("txtBranch")
        var image = $("#GalleryImage").val();
        var loginuser = (sessionStorage.getItem("userId"));
        var active = 1;

        Save(ID, Bank, Ac, Number, Branch, image, loginuser, active);
    });

    function Save(ID, Bank, Ac, Number, Branch, image, loginuser, active) {

        if ($("#form1").valid()) {
            $("#loader").fadeIn();
            $.ajax({
                url: "/api/MasterAPI/SaveRecord",
                type: "Post",
                data: JSON.stringify(["Banks", ID, Bank, Ac, Number, Branch, image, loginuser, active]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#loader").fadeOut();
                    if (data == 1) {
                        $("#divsuccesmsg").fadeIn();

                        $("#spsuccessMsg").html("SupplierGroups Added Successfully ");
                        setTimeout(function () {
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        }, 2000)

                    }
                    else if (data == 2) {
                        $("#divsuccesmsg").fadeIn();

                        $("#spsuccessMsg").html("SupplierGroups Updated Successfully ");
                        setTimeout(function () {
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        }, 2000)

                    }
                    else if (data == -1) {
                        $("#divsuccesmsg").fadeIn();

                        $("#spsuccessMsg").html("SupplierGroups name already Exist");
                        setTimeout(function () {
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        }, 2000)
                    }
                    else {
                        alert("Some Error!!");
                    }
                    ResetModal();
                    fillDataTable();
                    //$('#myModal').modal('hide');

                }
            });

        }
    }
    function Save1(ID, Bank, Ac, Number, Branch, image, loginuser, active) {


        $("#loader").fadeIn();
        $.ajax({
            url: "/api/MasterAPI/SaveRecord",
            type: "Post",
            data: JSON.stringify(["Banks", ID, Bank, Ac, Number, Branch, image, loginuser, active]),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#loader").fadeOut();
                if (data == 1) {
                    $("#divsuccesmsg").fadeIn();

                    $("#spsuccessMsg").html("Region Added Successfully ");
                    setTimeout(function () {
                        $("#divsuccesmsg").fadeOut();
                        $("#spsuccessMsg").html("");
                    }, 2000)

                }
                else if (data == 2) {
                    $("#divsuccesmsg").fadeIn();

                    $("#spsuccessMsg").html("Region Updated Successfully ");
                    setTimeout(function () {
                        $("#divsuccesmsg").fadeOut();
                        $("#spsuccessMsg").html("");
                    }, 2000)

                }
                else if (data == -1) {
                    $("#divsuccesmsg").fadeIn();

                    $("#spsuccessMsg").html("Region Name already Exist");
                    setTimeout(function () {
                        $("#divsuccesmsg").fadeOut();
                        $("#spsuccessMsg").html("");
                    }, 2000)
                }
                else {
                    alert("Some Error!!");
                }
                ResetModal();
                fillDataTable();
                //$('#myModal').modal('hide');

            }
        });


    }

    function Edit(ID, BankName, ACName, ACnumber, Branch) {
        setControlValue("hdnID", ID);
        setControlValue("txtBank", BankName);
        setControlValue("txtAc", ACName);
        setControlValue("txtNumber", ACnumber);
        setControlValue("txtBranch", Branch);

        //openModal();
    }


    function ResetAll() {
        setControlValue("txtBank", "");
        setControlValue("txtAc", "");
        setControlValue("txtNumber", "");
        setControlValue("txtBranch", "");
        fillDataTable();
    }

    function ResetModal() {
        ssetControlValue("txtBank", "");
        setControlValue("txtAc", "");
        setControlValue("txtNumber", "");
        setControlValue("txtBranch", "");
        setControlValue("hdnID", 0);
    }

    function Delete(id) {
        var result = window.confirm('Are you sure,you want to Delete this record?');
        if (result == true) {
            $.ajax({
                url: "/api/MasterAPI/DeleteRecord",
                type: "Post",
                data: JSON.stringify([id, (sessionStorage.getItem("userId")), "Banks"]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data == 1) {
                        $("#divsuccesmsg").fadeIn();

                        $("#spsuccessMsg").html("Record successfully deleted");
                        setTimeout(function () {
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        }, 2000)
                        ResetModal();
                        fillDataTable()
                    }
                }
            });
        }
    }

</script>




