
@{
    ViewBag.Title = "ClassTimingDetails";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<style type="text/css">
    .imgIcon {
        width: 0.5%;
        height: 0.5%;
    }

    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 8px;
            padding-bottom: 8px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>
<link href="~/css/bootstrap-timepicker.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        <i class="fa fa-eye"></i> Class Timing |<small id="CTName"></small>
    </h1>
    @*<ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="/academics/default/index">Academics</a></li>
            <li class="active">Timetable</li>
            <li><a href="/timetable/class-timing/index">Class Timing</a></li>
            <li class="active">gffd</li>
        </ul>*@
</section>
<section class="content">
    <div class="box box-solid">
        <div class="box-body table-responsive">
            <p class="text-right btn-view-group edusecArLangTextLeft">
                <a class="btn btn-default btn-sm" href="/TimeTable/ClassTiming"><i class="fa fa-chevron-circle-left"></i> Back</a>							@*<a class="btn btn-info btn-sm" href="/timetable/class-timing/update?id=2" data-target="#globalModal" data-toggle="modal" data-backdrop="static"><i class="fa fa-pencil-square-o"></i> Update</a>										<a class="btn btn-danger btn-sm" href="/timetable/class-timing/delete?id=2" data-confirm="Are you sure you want to delete this item?" data-method="post"><i class="fa fa-trash-o"></i> Delete</a>*@
            </p>

            <table class="table table-bordered">
                <colgroup>
                    <col width="200px">
                    <col width="250px">
                    <col width="200px">
                    <col width="250px">
                </colgroup>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td colspan="3"><span id="CTName1"></span></td>
                    </tr>
                    <tr>
                        <th style="display:none">Description</th>
                        <td colspan="3" style="display:none"><span id="Desc"></span></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <input id="hdn" type="hidden" />
            <div class="box box-solid" style="border:1px solid #eee">
                <div class="extra-div">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-table"></i> Class Timing Details</h3>
                        <div class="box-tools">

                            <a style="display:none;" class="btn btn-success btn-sm" href="#" onclick="openModal()"><i class="fa fa-plus-square"></i> Add</a>
                            @*<a class="btn btn-success btn-sm" href="#" Class Timing Detailonclick="openModal()"><i class="fa fa-plus-square"></i> Add</a>*@
                        </div>
                    </div>
                </div>

                <div class="box-body table-responsive">
                    <div id="w1" class="grid-view">
                        <table id="example1" class="table table-striped table-bordered">
                            <thead>
                                <tr style="display:none">
                                    <th>Days</th>
                                    <th>Class Schedule</th>
                                    <th style="width:10%;">Action</th>
                                    <th style="display:none;">Sr no.</th>
                                    <th style="display:none">School Name</th>
                                     <th style="display:none">Class Name</th>
                                    <th style="display:none">Section Name</th>
                                    <th style="display:none">Teacher Name</th>
                                    <th style="display:none">Subject Name</th>
                                    <th style="display:none">Start Time</th>
                                    <th style="display:none">End Time</th>
                                    <th style="display:none">IsBreak</th>
                                </tr>
                                </thead>
                            <tbody id="tbodyEmployeeDetails"></tbody>
                        </table>
                    </div>
                </div>
                <script type="text/html" id="divEmployeeDetailsJTemplte">

                    <tr>
                        <th style="width:1%;">Days</th>
                        <th style="width:25%;">Class Schedule</th>
                        <th style="width:1%;">Action</th>

                    </tr>
                    <tr>
                        <td class="ng-binding">
                            Monday
                        </td>
                        <td>
                            {#foreach $T as Datashort}
                            <button type="button" class="btn btn-default ng-binding">

                                { $T.Datashort.period.Name}
                                { $T.Datashort.period.StartTime}
                                { $T.Datashort.period.EndTime}

                            </button>
                            {#/for}
                        </td>
                        <td>
                            <i class="fa fa-fw fa-plus" style="cursor:pointer" onclick="openModal()" title="Add"></i>
                            <i class="fa fa-fw fa-edit" style="cursor:pointer" onclick="openModal()" title="Edit"></i>
                            <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete()" title="Delete"></i>

                        </td>
                    </tr>
                    <tr>
                        <td class="ng-binding">
                            Tuesday
                        </td>
                        <td>
                            {#foreach $T as Datashort}
                            <button type="button" class="btn btn-default ng-binding">

                                { $T.Datashort.period.Name}
                                { $T.Datashort.period.StartTime}
                                { $T.Datashort.period.EndTime}

                            </button>
                            {#/for}
                        </td>
                        <td>
                            <i class="fa fa-fw fa-plus" style="cursor:pointer" onclick="openModal()" title="Add"></i>
                            <i class="fa fa-fw fa-edit" style="cursor:pointer" onclick="openModal()" title="Edit"></i>
                            <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete()" title="Delete"></i>

                        </td>
                    </tr>
                    <tr>
                        <td class="ng-binding">
                            Wednesday
                        </td>
                        <td>
                            {#foreach $T as Datashort}
                            <button type="button" class="btn btn-default ng-binding">

                                { $T.Datashort.period.Name}
                                { $T.Datashort.period.StartTime}
                                { $T.Datashort.period.EndTime}

                            </button>
                            {#/for}
                        </td>
                        <td>
                            <i class="fa fa-fw fa-plus" style="cursor:pointer" onclick="openModal()" title="Add"></i>
                            <i class="fa fa-fw fa-edit" style="cursor:pointer" onclick="openModal()" title="Edit"></i>
                            <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete()" title="Delete"></i>

                        </td>
                    </tr>
                    <tr>
                        <td class="ng-binding">
                            Thursday
                        </td>
                        <td>
                            {#foreach $T as Datashort}
                            <button type="button" class="btn btn-default ng-binding">

                                { $T.Datashort.period.Name}
                                { $T.Datashort.period.StartTime}
                                { $T.Datashort.period.EndTime}

                            </button>
                            {#/for}
                        </td>
                        <td>
                            <i class="fa fa-fw fa-plus" style="cursor:pointer" onclick="openModal()" title="Add"></i>
                            <i class="fa fa-fw fa-edit" style="cursor:pointer" onclick="openModal()" title="Edit"></i>
                            <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete()" title="Delete"></i>

                        </td>
                    </tr>
                    <tr>
                        <td class="ng-binding">
                            Friday
                        </td>
                        <td>
                            {#foreach $T as Datashort}
                            <button type="button" class="btn btn-default ng-binding">

                                { $T.Datashort.period.Name}
                                { $T.Datashort.period.StartTime}
                                { $T.Datashort.period.EndTime}

                            </button>
                            {#/for}
                        </td>
                        <td>
                            <i class="fa fa-fw fa-plus" style="cursor:pointer" onclick="openModal()" title="Add"></i>
                            <i class="fa fa-fw fa-edit" style="cursor:pointer" onclick="openModal()" title="Edit"></i>
                            <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete()" title="Delete"></i>

                        </td>
                    </tr>
                    <tr>
                        <td class="ng-binding">
                            Saturday
                        </td>
                        <td>
                            {#foreach $T as Datashort}
                            <button type="button" class="btn btn-default ng-binding">

                                { $T.Datashort.period.Name}
                                { $T.Datashort.period.StartTime}
                                { $T.Datashort.period.EndTime}

                            </button>
                         {#/for}
                        </td>
                        <td>
                            <i class="fa fa-fw fa-plus" style="cursor:pointer" onclick="openModal()" title="Add"></i>
                            <i class="fa fa-fw fa-edit" style="cursor:pointer" onclick="openModal()" title="Edit"></i>
                            <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete()" title="Delete"></i>

                        </td>
                    </tr>


                </script>
            </div>
                </div>
               
                
           
       
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-plus-square"></i> Class Timing Detail<button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </h3>
                </div> <!-- /.modal-header -->


                <form id="class-timing-detail" role="form" name="form1">
                    <input type="hidden" id="hdnID">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group field-empinfosearch-emp_designation_id">
                                    <label for="Country" class="req">School<span class="requird">*</span></label>
                                    <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name"></select>

                                    <div class="help-block"></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group field-assignment-assignment_course_id required">
                                    <label for="Country" class="req">Class <span class="requird">*</span></label>
                                    <select class="form-control" id="ddlCourse" name="ddlCourse" valuefield="Id" textfield="CourseName" blankRowValue="-1" blankRowText="----Select----" aria-required="true"></select>
                                    <div class="help-block"></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group field-assignment-assignment_course_id required">
                                    <label for="Country" class="req">Section <span class="requird">*</span></label>
                                    <select class="form-control" id="ddlSection" name="ddlSection" valuefield="Id" textfield="SectionName" blankRowValue="-1" blankRowText="----Select----" aria-required="true"></select>
                                    <div class="help-block"></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group field-assignment-assignment_course_id required">
                                    <label for="Country" class="req">WeekDays <span class="requird">*</span></label>
                                    <select class="form-control" id="ddlWeek" name="ddlWeek" valuefield="Id" textfield="CourseName" blankRowValue="-1" blankRowText="----Select----" aria-required="true"></select>
                                    <div class="help-block"></div>
                                </div>
                            </div>



                            <div class="col-sm-12">

                                <label class="control-label" for="assignment-assignment_course_id">Teacher <span class="requird">*</span></label>
                                <select id="ddl_employees" name="ddl_employees" class="form-control" aria-required="true" valuefield="ID" textfield="Msg" blankRowValue="-1" blankRowText="----Select----"></select>

                                <div class="help-block"></div>
                            </div>




                            <div class="col-sm-12">
                                <div class="form-group field-classtimingdetail-tctd_name required">
                                    <label class="control-label" for="classtimingdetail-tctd_name">Subject<span class="requird">*</span></label>
                                    <input type="text" id="PeriodName" class="form-control" name="PeriodName" maxlength="150" aria-required="true">

                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6 col-xs-6 no-padding">
                                    <div class="form-group ">
                                        <div class=""><label for="start-time">Start Time <span class="requird">*</span></label></div>
                                        <div class="input-group bootstrap-timepicker timepicker " style="width:98%;">
                                            <input id="sTime" type="text" name="sTime" readonly="readonly" class="form-control input-small timer">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-6 no-padding">
                                    <div class="form-group  ">
                                        <div class=""><label for="end-time">End Time <span class="requird">*</span></label></div>
                                        <div class="input-group bootstrap-timepicker timepicker" style="width:99%;">
                                            <input id="eTime" type="text" name="eTime" readonly="readonly" class="form-control input-small timer">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group field-classtimingdetail-tctd_is_break">

                                    <input type="hidden" name="ClassTimingDetail[tctd_is_break]" value="0"><label><input type="checkbox" id="is_break" name="ClassTimingDetail[tctd_is_break]"> Is Break</label>

                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                    </div><!--./modal-body-->

                    <div class="modal-footer">
                        <button type="button" id="btnCreate" class="btn btn-primary pull-left">Create</button>    	<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
    <div class="alert alert-success alert-dismissible centerSuccess" id="divsuccesmsg" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>
            <i class="icon fa fa-check"></i>
            success! <span Id="spsuccessMsg"></span>
        </h4>

    </div>
</section>
<script src="~/js/bootstrap-timepicker.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        $('.timer').timepicker({ timeFormat: 'h:mm:ss p', startTime: new Date(0, 0, 0, 00, 0, 0), interval: 05 });
        var SchoolID = (sessionStorage.getItem("SchoolID"));

        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetEmpsbySchoolID", "ddl_employees", false, "", "", "", "");
        //timepicker.setSelectableTimes(generateTimepoints(1));
        // timePicker.setSelectableTimes(generateTimepoints(5));
        //timePicker.setSelectableTimes();
        //$('#etime').timepicker({ timeformat: 'h:mm:ss p' });
        //$('.timer').timepicker({
        //    minutestep: 1,
        //    showmeridian: false,
        //    defaulttime: false
        //    });
       
        var SchoolID = (sessionStorage.getItem("SchoolID"));
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/StudentApi", "GetClassesbySchoolID", "ddlCourse", false, "", "", "", "");

      
        var ID = getQuerystring("id");
        if (typeof (ID) != "undefined") {
            setControlValue("hdn", ID);//
            setControlValue("hdnID", 0);
            GetValues(ID);

        }

    });
    function openModal() {
        debugger;
        var SchoolID = (sessionStorage.getItem("SchoolID"));
        var ClassId = getQuerystring("ClassID");
        var SectionId = getQuerystring("SectionId");
        setControlValue("ddlCourse", ClassId);//
        callServiceMethodForDDl(JSON.stringify([SchoolID, ClassId]), "/api/TimeTableApi", "GetSectionbySCHOOLidbyclass", "ddlSection", false, "", "", "", "");
        callServiceMethodForDDl(JSON.stringify([SchoolID, ClassId, SectionId]), "/api/TimeTableApi", "GetTeacherbySchoolID", "ddl_employees", false, "", "", "", "");
        callServiceMethodForDDl("", "/api/TimeTableApi", "GetWeekdays", "ddlWeek", false, "", "", "", "");
        setControlValue("ddlSection", SectionId);//
        //setControlValue("ddl_employees", SectionId);//
        $("#ddlSchoolName").prop("disabled", true);
        $("#ddlCourse").prop("disabled", true);
        $("#ddlSection").prop("disabled", true);
        $('#myModal').modal('show');
    }

    function GetValues(ID) {
        $.ajax({
            url: "/api/TimeTableApi/GetClassTiming",// "~/Masters/GetDeptMethod",
            type: "Post",
            data: JSON.stringify([ID]),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.ID != -1) {
                    setControlValue("hdn", data.ID);
                    setControlValue("CTName", data.ct.Name);
                    setControlValue("CTName1", data.ct.Name);
                    setControlValue("Desc", data.ct.Description);

                    fillDataTable(data.ID);
                }
            }
        });
    }
    var loginuser = (sessionStorage.getItem("userId"));
    var typeuser = sessionStorage.getItem("type");
    function fillDataTable(x) {
        setTimeout(function () {
            $("#loader").fadeIn();
            callJTemplateServiceMethod(JSON.stringify([x, loginuser, typeuser]), "/api/TimeTableApi", "GetClassTimingDet",

                 "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");

        }, 800);
    }

    function successMsg(p1, p2, p3, datas) {
        $("#loader").fadeOut();
        //setTimeout(function () {
        //    $('#example1').DataTable();
        //}, 1000);
    }

    //
    $("#btnCreate").click(function () {
        debugger;

        var is_break = 0;
        var status = 1;
        var name = getControlValue("PeriodName");
        var sTime = getControlValue("sTime");
        var eTime = getControlValue("eTime");
        var CT_id = getControlValue("hdn");
        var id = getControlValue("hdnID");
        var school = getControlValue("ddlSchoolName");
        var Class = getControlValue("ddlCourse");
        var Section = getControlValue("ddlSection");
        var TeacherId = getControlValue("ddl_employees");
        var WeekDays = getControlValue("ddlWeek");
        if ($("#is_break").is(':checked')) {
            is_break = 1;
        }

        SaveDetails(id, CT_id, name, sTime, eTime, is_break, status, school, Class, Section, TeacherId, WeekDays);



    });

    function SaveDetails(id, CT_id, name, sTime, eTime, is_break, status, school, Class, Section, TeacherId, WeekDays) {
        if ($("#class-timing-detail").valid()) {
            $("#loader").fadeIn();
            var brk = true;
            is_break == 1 ? brk = true : brk = false;
            var Items = new Array();

            var classTimingdet = {
                ID: id,
                Name: name,
                StartTime: sTime,
                EndTime: eTime,
                IsBreak: brk,
                CT_ID: CT_id,
                Status: status,
                SchoolID: school,
                Class: Class,
                Section: Section,
                TeacherId: TeacherId,
                WeekDays: WeekDays
            }
            var Student = {
                ID: id,
                period: classTimingdet,
                ViewType: "ClassTimingDetails"
            }
            Items.push(Student);

            $.ajax({
                url: "/api/TimeTableApi/SaveTiming",
                type: "Post",
                data: JSON.stringify(Items),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    $("#divsuccesmsg").fadeIn();

                    $("#spsuccessMsg").html(data.Msg);
                    setTimeout(function () {
                        $("#divsuccesmsg").fadeOut();
                        $("#spsuccessMsg").html("");
                    }, 2000)
                    $("#loader").fadeOut();

                    if (data.ID != -1) {
                        setControlValue("hdn", CT_id);
                        setControlValue("hdnID", 0);
                        setControlValue("PeriodName", "");
                        setControlValue("sTime", "");
                        setControlValue("eTime", "");
                       
                        $('#myModal').modal('hide');
                    }

                    fillDataTable(CT_id);
                }
            });
        }
    }


    function DisplayCurrentTime() {
        var stime = $("#sTime").val();
        var date = new Date(stime);
        date = stime;
        var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
        time = hours + ":" + minutes + ":" + seconds;
        var lblTime = document.getElementById("lblTime");
        lblTime.innerHTML = time;
    };

    function Edit(id, name, stime, etime, status, isbreak,SchoolID) {
        setControlValue("hdnID", id);
        setControlValue("PeriodName", name);
        setControlValue("sTime", stime);
        setControlValue("eTime", etime);
        $('#is_break').prop('checked', isbreak);
        setControlValue("ddlSchoolName", SchoolID);
       
       

        //status==1?$('#is_break').prop('checked', true):$('#cbActive').prop('checked', false);
        openModal();
    }

    function Delete(id) {
        $("#loader").fadeIn();
        var result = window.confirm('Are you sure to delete this record?');
        if (result == true) {
            $.ajax({
                url: "/api/TimeTableApi/DeleteRecord",
                type: "Post",
                data: JSON.stringify([id, "ClassTimingDetails"]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divsuccesmsg").fadeIn();

                    $("#spsuccessMsg").html(data.Msg);
                    setTimeout(function () {
                        $("#divsuccesmsg").fadeOut();
                        $("#spsuccessMsg").html("");
                    }, 2000)
                    $("#loader").fadeOut();
                    fillDataTable(getControlValue("hdn"));
                }
            });
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#class-timing-detail").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {

                PeriodName: "required",
                sTime: "required",
                eTime: "required",

            },
            messages: {
                PeriodName: "Please Enter Fee Category",
                sTime: "Please Enter Start Time",
                eTime: "Please Enter End Time",
                // txtCoursecoursecode: "Please Enter Class Code"

            }
        })



    });
</script>