
@{
    ViewBag.Title = "NewTimeTable.cshtml";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<style type="text/css">
    .imgIcon {
        width: 0.5%;
        height: 0.5%;
    }

    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 8px;
            padding-bottom: 8px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>
<link href="~/css/bootstrap-timepicker.css" rel="stylesheet" />
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="~/css/bower_components/select2/dist/css/select2.min.css">
<script src="~/css/bower_components/select2/dist/js/select2.full.min.js"></script>
<section class="content-header">
    <h1>
        <i class="fa fa-plus-square"></i> Timetable Configuration
    </h1>
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/academics/default/index">Academics</a></li>
        <li class="active">Timetable</li>
        <li><a href="/timetable/timetable-configuration/index">Timetable Configuration</a></li>
        <li class="active">Timetable Configuration</li>
    </ul>
</section>
<section class="content">

    <div class="box box-solid">

        <form id="form1" name="form1">
            <div class="box-body">


                <div class="col-sm-4" id="hideschool">
                    <div class="form-group">
                        <label for="Country" class="req">School<span class="requird">*</span></label>
                        <select class="form-control" id="ddlSchoolName" hidden ng-model="ddlSchoolName" valuefield="Id" textfield="Name"></select>

                    </div>
                </div>

                <div class="col-sm-4" id="hideAcademic">
                    <div class="form-group">
                        <label class="control-label">Academic Year <span class="requird">*</span></label>
                        <select id="tc_academic_year" class="form-control" hidden name="tc_academic_year" aria-required="true" valuefield="ID" textfield="StartYear">
                            @*<option value="">--- Select Academic Year ---</option>
                    <option value="1" selected="">2016-17</option>*@
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Class <span class="requird">*</span></label>
                            <select class="form-control" id="ddlCourse" name="ddlCourse" valuefield="Id" textfield="CourseName" blankRowValue="-1" blankRowText="----Select----" aria-required="true"></select>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Section <span class="requird">*</span></label>

                            <select class="form-control" name="ddlSection" id="ddlSection" valuefield="Id" textfield="SectionName" blankRowValue="-1" blankRowText="----Select----"></select>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Subject <span class="requird">*</span></label>

                            <select id="ddl_subject" name="ddl_subject" class="form-control" onchange="getTeacherBySubjectId(this.value)" aria-required="true" valuefield="ID" textfield="Subject" blankRowValue="-1" blankRowText="----Select----"></select>

                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Teacher <span class="requird">*</span></label>

                                <select id="ddl_employee" name="ddl_employee" class="form-control" aria-required="true" valuefield="ID" textfield="Msg" blankRowValue="-1" blankRowText="----Select----"></select>

                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group" id="aa">
                                <label class="control-label">Name <span class="requird">*</span></label>
                                <input type="text" id="tc_name" name="tc_name" class="form-control" maxlength="150" aria-required="true">

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">

                                <div class="form-group ">
                                    <div class=""><label for="start-time">Start Time <span class="requird">*</span></label></div>
                                    <div class="input-group bootstrap-timepicker timepicker " style="width:98%;">
                                        <input id="sTime" type="text" name="sTime" readonly="readonly" class="form-control input-small timer">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class=""><label for="end-time">End Time <span class="requird">*</span></label></div>
                                <div class="input-group bootstrap-timepicker timepicker" style="width:99%;">
                                    <input id="eTime" type="text" name="eTime" readonly="readonly" class="form-control input-small timer">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Weekday <span class="requird">*</span></label>
                                <input type="hidden" value="">
                                <select class="form-control select2" id="tc_weekday" name="tc_weekday" valuefield="DayID" textfield="WeekDay" multiple="multiple"></select>
                                @*<select id="tc_weekday" multiple="multiple" size="4">
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="7">Sunday</option>
                    </select><div><button type="button" class="multiselect dropdown-toggle form-control btn btn-default" data-toggle="dropdown" title="None Selected"><span class="multiselect-selected-text">None Selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item filter" value="0"><div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span><input class="form-control multiselect-search" type="text" placeholder="Search"><span class="input-group-btn"><button class="btn btn-default multiselect-clear-filter" type="button"><i class="glyphicon glyphicon-remove-circle"></i></button></span></div></li><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all"> Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="1"> Monday</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="2"> Tuesday</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="3"> Wednesday</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="4"> Thursday</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="5"> Friday</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="6"> Saturday</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="7"> Sunday</label></a></li></ul></div>*@
                            </div>
                       
                    </div>


                </div><!--box-body-->

            <div class="box-footer">
                <button type="button" class="btn btn-primary" id="btnCreate">Create</button>	<a class="btn btn-default" href="javascript:void(0)">Cancel</a>
            </div>

        </form>
    </div>

    <div class="alert alert-success centerSuccess" id="divSucesEmail" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>
            <i class="icon fa fa-check"></i>
            <span Id="sentEmailMsg"></span>
        </h4>

    </div>
</section>
<script src="~/js/bootstrap-timepicker.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //
        $("#hideschool").hide();
        $("#hideAcademic").hide();
        $('.timer').timepicker({ timeFormat: 'h:mm:ss p', startTime: new Date(0, 0, 0, 00, 0, 0), interval: 05 });

        $("#ddl_subject").change(function () {
            var ddlsub = getControlValue("ddl_subject");
            if (ddlsub != null && (ddlsub != -1) && (ddlsub != undefined)) {
                var SchoolID = sessionStorage.getItem("SchoolID");
                var ClassID = getControlValue("ddlCourse");
                callServiceMethodForDDl(JSON.stringify([SchoolID, ddlsub, ClassID]), "/api/TimeTableApi", "GetEmpsbyloginidbyClass", "ddl_employee", false, "", "", "", "");

            }
        });

        $("#tc_weekday").select2({});
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");

        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");

        var SchoolID = getControlValue("ddlSchoolName");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/StudentApi", "GetClassesbySchoolID", "ddlCourse", false, "", "", "", "");
        var SchoolID = getControlValue("ddlSchoolName");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetAcademicYearBySchoolActive", "tc_academic_year", false, "", "", "", "");

       

        $("#ddlSchoolName").change(function () {
            var SchoolID = getControlValue("ddlSchoolName");
            callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetAcademicYearBySchool", "tc_academic_year", false, "", "", "", "");
        });

       // callServiceMethodForDDl("", "/api/StudentApi", "GetClasses", "ddlCourse", false, "", "", "", "");
        callServiceMethodForDDl("", "/api/TimeTableApi", "GetWeekdays", "tc_weekday", false, "", "", "", "");
        //callServiceMethodForDDl("", "/api/TimeTableApi", "GetAcademicYear", "tc_academic_year", false, "", "", "", "");

        callServiceMethodForDDl(JSON.stringify(["status", "", "", 1, 0, loginuser, typeuser]), "/api/TimeTableApi", "getClassTimings", "tc_classtiming", false, "", "", "", "");

        $("#ddlCourse").change(function () {
            var SchoolID = getControlValue("ddlSchoolName");
            var ddlCourse = getControlValue("ddlCourse");
            if (ddlCourse != null && (ddlCourse != -1) && (ddlCourse != undefined)) {
                callServiceMethodForDDl(JSON.stringify([ddlCourse, SchoolID]), "/api/StudentApi", "GetSectionsbyschool", "ddlSection", false, "", "", "", "");
                var ddlCourse = getControlValue("ddlCourse");
                if (ddlCourse != null && (ddlCourse != -1) && (ddlCourse != undefined)) {
                    var SchoolID = sessionStorage.getItem("SchoolID");
                    callServiceMethodForDDl(JSON.stringify([SchoolID, ddlCourse]), "/api/TimeTableApi", "GetSubjectsbySCHOOLidbyclass", "ddl_subject", false, "", "", "", "");

                }
            }

          


        });        
        
        $('.dtpicker').datepicker({
            autoclose: true
            //,
            //dateFormat: 'dd/mm/yy' 
        });

        var ID=getQuerystring("id");
        if (typeof (ID) != "undefined") {
            setControlValue("hdn", ID);//
            setControlValue("hdnID", 0);
            GetValues(ID);

        }

        $('#tc_weekday').val([]);
        //
        //callServiceMethodForDDl("", "/api/StudentApi", "GetLeaveStatus", "ddlReqStatus", false, "", "", "", "");
    });
    function openModal()
    {
        $('#myModal').modal('show');
    }

    function GetValues(ID)
    {
        $.ajax({
            url: "/api/TimeTableApi/GetClassTiming",// "~/Masters/GetDeptMethod",
            type: "Post",
            data: JSON.stringify([ID]), //{ Name: name,ddlAcademicYr
            //// Address: address, DOB: dob },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if(data.ID!=-1)
                {
                    setControlValue("hdn", data.ID);
                    setControlValue("CTName", data.ct.Name);
                    setControlValue("CTName1", data.ct.Name);
                    setControlValue("Desc", data.ct.Description);

                    fillDataTable(data.ID);
                }
            }
        });
    }

    function fillDataTable(x)
    {
        setTimeout(function () {
            callJTemplateServiceMethod(JSON.stringify([x]), "/api/TimeTableApi", "GetClassTimingDet",
           "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");

        }, 800);
    }

    function successMsg(p1, p2, p3, datas) {
        //setTimeout(function () {
        //    $('#example1').DataTable();
        //}, 1000);
    }

    //
    $("#btnCreate").click(function () {
        if ($("#form1").valid()) {
            $("#loader").fadeIn();
            var status = 1;
            var SchoolID = getControlValue("ddlSchoolName");
            var tc_academic_year = getControlValue("tc_academic_year");
            var ddlCourse = getControlValue("ddlCourse");
            var ddlSection = getControlValue("ddlSection");
            var ddlSubject = getControlValue("ddl_subject");
            var ddlTeacher = getControlValue("ddl_employee");
            var tc_name = getControlValue("tc_name");
            var StartTime = getControlValue("sTime");
            var EndTime = getControlValue("eTime");
            var tc_weekday = getControlValue("tc_weekday");
           
            //var languages = "";
            //if (tc_weekday != null && tc_weekday != undefined && tc_weekday != "") {
            //    var lang_lenth = tc_weekday.length;

            //    var i = 0;
            //    for (i; i < lang_lenth; i++) {
            //        if (i == 0) {
            //            languages = tc_weekday[i];
            //        }
            //        else {
            //            languages = languages + "," + tc_weekday[i];
            //        }
            //    }
            //} 
            var tc_classtiming = getControlValue("tc_classtiming");
            //if ($("#is_break").is(':checked'))
            //{
            //    status = 1;
            //}
            var status = "1";
           
            if (tc_name != undefined && tc_name != null && tc_name != "")
            {
                SaveDetails( tc_academic_year, ddlCourse, ddlSection, ddlSubject, ddlTeacher, tc_name, StartTime, EndTime, tc_weekday, status, SchoolID);


            }
        }
    });

    function SaveDetails(year, course, section, Subject, teacher, name, StartTime, EndTime, weekdays, status, SchoolID)
    {

        // public int ID { get; set; }
        //public Nullable < int > SchoolID { get; set; }
        //public Nullable < int > AcademicYear { get; set; }
        //public Nullable < int > Class { get; set; }
        //public Nullable < int > Section { get; set; }
        //public Nullable < int > Subject { get; set; }
        //public Nullable < System.TimeSpan > StartTime { get; set; }
        //public Nullable < System.TimeSpan > EndTime { get; set; }
        //public string WeekDays { get; set; }
        //public string name { get; set; }
        //public Nullable < int > TeacherID { get; set; }
       
            //var brk=true;
            //status == 1 ? brk = true : brk = false;
        //    var Items = new Array();
        //    var val = {
        //        //ID: id,
        //        name: name,
        //        AcademicYear: year,
        //        Class: course,
        //        Section: section,
        //        Subject: Subject,
        //        TeacherID: teacher,
        //        StartTime: StartTime,
        //        EndTime: EndTime,
        //        WeekDays: weekdays,
               
        //        Status: status,
        //        SchoolID: SchoolID

        //    }
           
        //Items.push(val);

            $.ajax({
                url: "/api/AccountsAPI/TimeTableNEWWW",
                type: "Post",
                data: JSON.stringify([year, course, section, Subject, teacher, name, StartTime, EndTime, weekdays, status, SchoolID]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#loader").fadeOut();
                    $("#divSucesEmail").fadeIn();
                    $("#sentEmailMsg").html(data.Msg);
                    setTimeout(function () {
                        $("#divSucesEmail").fadeOut();
                        $("#sentEmailMsg").html("");
                    }, 2000)
                 
                    if (data.ID != -1 /*&& data.ID != undefined*/) {
                        //setControlValue("hdn", CT_id);
                        //setControlValue("hdnID", 0);
                        //setControlValue("PeriodName", "");
                        //setControlValue("sTime", "");
                        //setControlValue("eTime", "");
                        //$('#myModal').modal('hide');
                       
                    }

                    //fillDataTable(CT_id);
                }
            });
        
    }
    //ank
    function GetSchoolByID() {

        $.ajax({
            url: "/api/Default/getAllSchoolNameByID",
            type: "Post",
            data: JSON.stringify(Items),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
            }
        })
    }
    function Edit(id,name,stime,etime,status,isbreak)
    {
        setControlValue("hdnID", id);
        setControlValue("PeriodName", name);
        setControlValue("sTime", stime);
        setControlValue("eTime", etime);
        $('#is_break').prop('checked', isbreak);

        //status==1?$('#is_break').prop('checked', true):$('#cbActive').prop('checked', false);
        openModal();
    }

    function Delete(id)
    {
        var result = window.confirm('Are you sure to delete this record?');
        if (result == true) {
            $.ajax({
                url: "/api/TimeTableApi/DeleteRecord",
                type: "Post",
                data: JSON.stringify([id,"ClassTimingDetails"]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divSucesEmail").fadeIn();
                    $("#sentEmailMsg").html(data.Msg);
                    setTimeout(function () {
                        $("#divSucesEmail").fadeOut();
                        $("#sentEmailMsg").html("");
                    }, 2000)
                    fillDataTable(getControlValue("hdn"));
                }
            });
        }
    }

    function CreateTT()
    {
        getControlValue("sTime");
        window.location.href = "/TimeTable/CreateTimeTable?id=" + id;
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                tc_academic_year: {
                    selectcheck: true
                },

                ddlCourse: {
                    selectcheck1: true
                },
                ddlSection: {
                    selectcheck2: true
                },
                
                tc_weekday: {
                    selectcheck3: true
                },
                tc_classtiming: {
                    selectcheck4: true
                },
                
                
                tc_name: "required",

                tc_from_date:"required",


              
                tc_To_date:"required",



            },
            messages: {

                ddlCourse: "Please Select Class",
                ddlSection: "Please Select Section",
                tc_academic_year: "Please Select Academic Year",
                tc_weekday: "Please Select Week Day",
                tc_academic_year: "Please Select Class Timing"
                


            }
        })
        jQuery.validator.addMethod('selectcheck', function (value) {
            if (value == "-1") {
                return (value != '-1');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");
        jQuery.validator.addMethod('selectcheck1', function (value) {
            if (value == "-1") {
                return (value != '-1');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");
        jQuery.validator.addMethod('selectcheck2', function (value) {
            if (value == "-1") {
                return (value != '-1');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else if (value == null) {
                return (value != null);
            }
            else {
                return true;
            }

        }, "Please Select Country");
        jQuery.validator.addMethod('selectcheck3', function (value) {
            if (value == "-1") {
                return (value != '-1');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");
        jQuery.validator.addMethod('selectcheck4', function (value) {
            if (value == "-1") {
                return (value != '-1');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");


    });
</script>
