
@{
    ViewBag.Title = "ChangePassword";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutSchoolAdmin.cshtml";

}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

    <section class="content">

        <div class="row">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h4 class="panel-title">School Admin</h4>
                        </div>


                        <form role="form" id="form1" name="form1">
                            <div class="panel-body">


                                <div class="row">


                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">Change Password</h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="reg_input_name" class="req">Old Password <span class="requird">*</span></label>
                                                    <input class="form-control" name="txtOldPassword" ng-model="txtOldPassword" id="txtOldPassword" type="text">
                                                </div>
                                                <div class="form-group">
                                                    <label for="usertype" class="req">New Password<span class="requird">*</span></label>
                                                    <input class="form-control" name="txtNewPassword" onchange='check_pass();' ng-model="txtNewPassword" id="txtNewPassword" type="text">
                                                </div>
                                                <div class="form-group">
                                                    <label for="usertype" class="req">Confirm Password<span class="requird">*</span></label>
                                                    <input class="form-control" name="txtConfirmPassword" ng-model="txtConfirmPassword" onchange='check_pass();' id="txtConfirmPassword" type="text">
                                                </div>


                                                <div class="form-group col-lg-6">
                                                    <div class="form-group">
                                                        <input class="btn btn-info" name="btnSave" id="btnSave" onclick="ChagePassword()" type="button" value="Save">
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="alert alert-success centerSuccess" id="divSuccessMsg" style="display:none">

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </section>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>





<!-- DataTables -->
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">


    function check_pass() {
        if (document.getElementById('txtNewPassword').value ==
            document.getElementById('txtConfirmPassword').value) {
            document.getElementById('btnSave').disabled = false;
        } else {
            document.getElementById('btnSave').disabled = true;
        }
    }





    function ChagePassword() {
        if ($("#form1").valid()) {
            $("#loader").fadeIn();
            var Passwordchange = {

                UserID: sessionStorage.getItem("SchoolCode"),
                OldPassword: getControlValue("txtOldPassword"),
                NewPassword: getControlValue("txtNewPassword"),
                ConfirmPassword: getControlValue("txtConfirmPassword"),




            }

            var ddl = JSON.stringify(Passwordchange)


            callServiceMethod(ddl, "/api/EmployeeAPI", "SchoolAdminChangePassword", false, "", "", false, "", true, saveSchoolAdminPassword_scs, "", "", "");
        }


    }


    function saveSchoolAdminPassword_scs(p1, p2, p3, datas) {

        $("#loader").fadeOut();

        $("#divSuccessMsg").fadeIn();
        $("#divSuccessMsg").html("<strong>Success!</strong> " + datas);
        setTimeout(function () {
            setControlValue("txtOldPassword", "");
            setControlValue("txtNewPassword", "");
            setControlValue("txtConfirmPassword", "");
            $("#divSuccessMsg").fadeOut();

        }, 2000)
    }


    //function getUploadImg()
    //{
    //    alert($("#ImageUpload").val());


    //        var files = !!this.files ? this.files : [];
    //        if (!files.length || !window.FileReader) return; // Check if File is selected, or no FileReader support
    //        if (/^image/.test(files[0].type)) { //  Allow only image upload
    //            var ReaderObj = new FileReader(); // Create instance of the FileReader
    //            ReaderObj.readAsDataURL(files[0]); // read the file uploaded
    //            ReaderObj.onloadend = function () { // set uploaded image data as background of div
    //                $("#dvPreviewF").show();
    //                $("#dvPreviewF").css("background-image", "url(" + this.result + ")");
    //            }
    //        } else {
    //            alert("Upload an image");
    //        }




    //   // $("#EmployyeImage").attr("src", getControlValue("ImageUpload"));
    //}


</script>



<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }

    .dvImgPreview {
        background-position: center center;
        background-size: cover;
        -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
        min-height: 30px;
        min-width: 30px;
        height: 100px;
        width: 100px;
        max-height: 100px;
        max-width: 100px;
    }
</style>



<script type="text/javascript">
    $(document).ready(function () {
        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {

                txtOldPassword: "required",
                txtNewPassword: "required",
                txtConfirmPassword: "required",

            },
            messages: {


                txtOldPassword: "Please Enter Old Password",
                txtNewPassword: "Please Enter New Password",
                txtConfirmPassword: "Please Confirm Password",

            }
        })

    });
</script>

