
@{
    ViewBag.Title = "Meeting";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Meeting</h2>
<style>
    .meeting-title {
        text-align: center;
        position: relative;
        margin-top: 55px;
        margin-bottom: 20px;
    }
</style>

<link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.2.0/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.2.0/css/react-select.css" />



<script src="https://source.zoom.us/2.2.0/lib/vendor/react.min.js"></script>
<script src="https://source.zoom.us/2.2.0/lib/vendor/react-dom.min.js"></script>
<script src="https://source.zoom.us/2.2.0/lib/vendor/redux.min.js"></script>
<script src="https://source.zoom.us/2.2.0/lib/vendor/redux-thunk.min.js"></script>
<script src="https://source.zoom.us/2.2.0/lib/vendor/lodash.min.js"></script>
<script src="https://source.zoom.us/zoom-meeting-2.2.0.min.js"></script>
<script src="~/jsZoom/tool.js"></script>
<script src="~/jsZoom/vconsole.min.js"></script>
<script src="~/jsZoom/meeting.js"></script>

<script></script>

