
@{
    ViewBag.Title = "Regions";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<link href="~/css/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />

<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/css/bower_components/select2/dist/js/select2.full.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2();
    })

</script>
<section class="content">
    <div class="box box-solid">
        <div class="et">
            <div class="box-header with-border">
                <h3 class="box-title">Regions</h3>

            </div>
        </div>
        <div class="alert alert-success alert-dismissible centerSuccess" id="divsuccesmsg" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                <i class="icon fa fa-check"></i>
                success! <span Id="spsuccessMsg"></span>
            </h4>

        </div>

        <div class="box-body">
            <div class="row">

                <div class="content">



                    <div class="row">
                        <form role="form" id="form1" name="form1">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Regions</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="req" for="Salarydetails_unit">Name</label>
                                                <input class="form-control" id="txtName" type="text" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="form_sep">
                                                    <input class="btn btn-info" id="btnSumit" type="button" value="Save">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-sm-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Regions List</h3>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">

                                        <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                                            <thead>
                                                <tr>
                                                    <th>Regions_ID</th>
                                                    <th>Regions_Name</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>

                                                </tr>
                                            </thead>
                                            <tbody id="tbodyEmployeeLeaveRequestDetails"></tbody>
                                        </table>

                                        <script type="text/html" id="tbodyEmployeeLeaveRequestDetailsJTemplte">
                                            {#foreach $T as Datashort}
                                            <tr>
                                                <td>
                                                    { $T.Datashort.ID}
                                                </td>
                                                <td>
                                                    { $T.Datashort.Name}
                                                </td>

                                                <td>
                                                    <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" onclick="Edit('{ $T.Datashort.ID}' ,'{ $T.Datashort.Name}')" title="Edit"></i>
                                                </td>
                                                <td>
                                                    <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete({ $T.Datashort.ID })" title="Delete"></i>

                                                </td>

                                            </tr>
                                            {#/for}
                                        </script>
                                        <input type="hidden" id="hdnID" />
                                        @*<input type="hidden" id="hdnStatus" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>



<script type="text/javascript">
    $(document).ready(function () {

        setControlValue("hdnID", 0);
        $('.dtpicker').datepicker({
            //dateFormat: 'dd/mm/yy' ,
            autoclose: true,
            format: 'dd/mm/yyyy'
        });

        fillDataTable();

        var ID = getQuerystring("id");
        if (typeof (ID) != "undefined") {
            setControlValue("hdn", ID);//

            GetValues(ID);

        }
    });
    function openModal() {
        $('#myModal').modal('show');
    }


    function fillDataTable() {
        $("#loader").fadeIn();
        var Name = getControlValue("txtName");
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        var t = $('#example1').DataTable();
        t.destroy();

        callJTemplateServiceMethod(JSON.stringify([Name,loginuser, typeuser]), "/api/MasterAPI", "RegionsList",
            "tbodyEmployeeLeaveRequestDetails", "tbodyEmployeeLeaveRequestDetailsJTemplte", true, successMsg, "", "", "");
    }

    function successMsg(p1, p2, p3, datas) {

        $("#loader").fadeOut();

        setTimeout(function () {
            $('#example1').DataTable({

                dom: 'lBfrtip',
                bRetrieve: true,
                bDestroy: true,
                'columnDefs': [{
                    "targets": -1,
                    "orderable": false
                }],
            });
        }, 1000);
    }

    //
    $("#btnSearch").click(function () {
        fillDataTable();
    });

    $("#btnSumit").click(function () {
        debugger;
        var ID = getControlValue("hdnID");
        var Name = getControlValue("txtName");
        var loginuser = (sessionStorage.getItem("userId"));
        var active = 1;
        Save(ID, Name, loginuser, active);
    });

    function Save(ID, Name, loginuser, active) {

        if ($("#form1").valid()) {
            $("#loader").fadeIn();
            $.ajax({
                url: "/api/MasterAPI/SaveRecord",
                type: "Post",
                data: JSON.stringify(["saveRegions", ID, Name, loginuser, active]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#loader").fadeOut();
                    if (data == 1) {
                        $("#divsuccesmsg").fadeIn();

                        $("#spsuccessMsg").html("Region Added Successfully ");
                        setTimeout(function () {
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        }, 2000)

                    }
                    else if (data == 2) {
                        $("#divsuccesmsg").fadeIn();

                        $("#spsuccessMsg").html("Region Updated Successfully ");
                        setTimeout(function () {
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        }, 2000)

                    }
                    else if (data == -1) {
                        $("#divsuccesmsg").fadeIn();

                        $("#spsuccessMsg").html("Region Name already Exist");
                        setTimeout(function () {
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        }, 2000)
                    }
                    else {
                        alert("Some Error!!");
                    }
                    ResetModal();
                    fillDataTable();
                    //$('#myModal').modal('hide');

                }
            });

        }
    }

    function Save1(ID, Name, loginuser) {


        $("#loader").fadeIn();
        $.ajax({
            url: "/api/MasterAPI/saveRegions",
            type: "Post",
            data: JSON.stringify(["saveRegions", ID, Name, loginuser]),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#loader").fadeOut();
                if (data == 1) {
                    $("#divsuccesmsg").fadeIn();

                    $("#spsuccessMsg").html("Region Added Successfully ");
                    setTimeout(function () {
                        $("#divsuccesmsg").fadeOut();
                        $("#spsuccessMsg").html("");
                    }, 2000)

                }
                else if (data == 2) {
                    $("#divsuccesmsg").fadeIn();

                    $("#spsuccessMsg").html("Region Updated Successfully ");
                    setTimeout(function () {
                        $("#divsuccesmsg").fadeOut();
                        $("#spsuccessMsg").html("");
                    }, 2000)

                }
                else if (data == -1) {
                    $("#divsuccesmsg").fadeIn();

                    $("#spsuccessMsg").html("Region Name already Exist");
                    setTimeout(function () {
                        $("#divsuccesmsg").fadeOut();
                        $("#spsuccessMsg").html("");
                    }, 2000)
                }
                else {
                    alert("Some Error!!");
                }
                ResetModal();
                fillDataTable();
                //$('#myModal').modal('hide');

            }
        });


    }

    function EditStatus(id, Name) {

        Save1(id, Name);
    }


    function Edit(id, Name) {
        setControlValue("hdnID", id);
        setControlValue("txtName", Name);

        //openModal();
    }

    function ResetModal() {
        setControlValue("txtName", "");
        setControlValue("hdnID", 0);
    }

    function Delete(id) {
        var result = window.confirm('Are you sure,you want to Delete this record?');
        if (result == true) {
            $.ajax({
                url: "/api/MasterAPI/DeleteRecord",
                type: "Post",
                data: JSON.stringify([id,  (sessionStorage.getItem("userId")), "Regions"]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data == 1) {
                        $("#divsuccesmsg").fadeIn();

                        $("#spsuccessMsg").html("Record successfully deleted");
                        setTimeout(function () {
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        }, 2000)
                        ResetModal();
                        fillDataTable()
                    }
                }
            });
        }
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {

                txtName: "required",

            },
            messages: {
                txtName: "Please Enter Fee Category",
                // txtCoursecoursecode: "Please Enter Class Code"

            }
        })




    });
</script>
