
@{
    ViewBag.Title = "StreamMaster";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<section class="content" ng-app="myApp" ng-controller="StreamController">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">New Stream</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" id="form1" name="form1">
                    <div class="form-group">
                        <label for="Country" class="req">School<span class="requird">*</span></label>
                        <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name" ></select>

                    </div>

                    <div class="alert alert-success centerSuccess" id="divsuccesmsg" style="display:none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            <i class="icon fa fa-check"></i>
                            success! <span ng-bind="successMsg"></span>
                        </h4>

                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <input type="text" style="display:none" ng-model="txtStreamId" />
                            <label for="Country" class="req">Class<span class="requird">*</span></label>
                            <select class="form-control" id="ddlClass" name="ddlClass" ng-model="ddlClass" style="color:black;" valuefield="Id" textfield="Name" blankRowValue="-1" blankRowText="----Select----" aria-required="true"></select>

                        </div>
                        @*<div class="form-group">
                            <input type="text" style="display:none" ng-model="txtStreamId" />
                            <label class="control-label">Class <span class="requird">*</span></label>

                            <select class="form-control" id="ddlClass" valuefield="Id" textfield="Class" ></select>



                        </div>*@
                        <div class="form-group">
                            <label for="exampleInputEmail1">Stream  Name <span class="requird">*</span></label>
                            <input type="text" class="form-control" name="txtStreamName" ng-model="txtStreamName" id="txtStreamName" placeholder="Enter Stream Name">
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" id="chkstatus" ng-model="chkstatus"> Active
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        @*<button type="submit" class="btn btn-primary">Submit</button>*@
                        <input type="button" ng-click="saveStream()" class="btn btn-primary" value="Save" />
                        <input type="button" ng-click="clearAllTexbox()" class="btn btn-primary" value="Reset" />
                    </div>
                </form>
            </div>
            <!-- /.box -->



        </div>
        <!--/.col (left) -->


        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">View Stream</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">


                        <table id="example1" class="table table-bordered table-striped" style="width:100%">
                            <thead style="background-color:steelblue;color:white;width:100%;">
                                <tr>
                                    <th>School</th>
                                    <th>Class Name</th>
                                    <th>Stream Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="employee in employees" ng-class-odd="'oddTr'">
                                    <td>
                                        {{employee.School}}
                                    </td>
                                    <td>
                                        {{employee.Class}}
                                        <span style="display:none">{{employee.ClassId}}</span>
                                    </td>
                                    <td>
                                        {{employee.Name}}
                                    </td>
                                    <td>
                                        {{employee.StatusShow}}
                                    </td>
                                    <td>
                                        <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" ng-click="editStreamById(employee)"></i>
                                        &nbsp;
                                        <i class="fa fa-fw fa-trash" style="cursor:pointer" ng-click="deleteStreamById(employee)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
</section>

<script src="~/js/angular.min.js"></script>



<script src="~/js/Angular/Module.js"></script>
<script src="~/js/Angular/Service.js"></script>
<script src="~/js/Angular/controller.js"></script>
<!-- DataTables -->
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        callServiceMethodForDDl("", "/api/MasterAPI", "getAllCountry", "ddlCountry", false, "", "", "", "");

    });

</script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        $("#ddlSchoolName").change(function () {
            var SchoolID = getControlValue("ddlSchoolName");
            callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/MasterAPI", "getAllClassesBYSchool", "ddlClass", false, "", "", "", "");
        });

        var SchoolID = getControlValue("ddlSchoolName");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/MasterAPI", "getAllClassesBYSchool", "ddlClass", false, "", "", "", "");
        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                ddlClass: {
                    selectcheck: true
                },

                txtStreamName: "required",

            },
            messages: {

                txtStreamName: "Please Enter Stream",
                ddlClass:"Please Select Class",

            }
        })
        jQuery.validator.addMethod('selectcheck', function (value) {
            if (value == "-1") {
                return (value != '-1');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Enter Stream");


    });
</script>

