<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\Publish\Pub\SchoolErp.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="smartvidhyaCom1Entities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SchoolErp.smartvidhyaCom1Entities, SchoolErp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SCHOOLERPEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SchoolErp.SCHOOLERPEntities, SchoolErp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="default" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\MSSQLSERVER01;Initial Catalog=smartvidhyaCom1;Integrated Security=True;Max Pool Size=3000" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\default_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost\MSSQLSERVER01;Initial Catalog=smartvidhyaCom1;  MultipleActiveResultSets=True; integrated security=SSPI;Max Pool Size=3000;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SCHOOLERPEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)smartvidhyaCom1Entities-Web.config Connection String" />
  </ItemGroup>
</Project>