
@{
    ViewBag.Title = "DamagedProducts";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<link href="~/css/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />

<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/css/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2();
    })

</script>
<section class="content">
    <div class="box box-solid">
        <div class="et">
            <div class="box-header with-border">
                <h3 class="box-title">Damaged Product</h3>

            </div>
        </div>
        <div class="alert alert-success alert-dismissible centerSuccess" id="divsuccesmsg" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                <i class="icon fa fa-check"></i>
                success! <span Id="spsuccessMsg"></span>
            </h4>

        </div>

        <div class="box-body">
            <div class="row">

                <div class="content">



                    <div class="row">
                        <form role="form" id="form1" name="form1">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"> New Damage Product</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                                    <label for="Country" class="req">Category <span class="requird">*</span></label>
                                                    <select class="form-control" id="ddlCategory" ng-model="ddlCategory" valuefield="Id" textfield="Name" @*blankRowValue="0" blankRowText="--Select--"*@></select>
                                                </div>
                                                <input type="text" id="unitId" hidden />
                                                <div class="row">
                                                    <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                                        <label for="Country" class="req">Product <span class="requird">*</span></label>
                                                        <select class="form-control" id="ddlProduct" ng-model="ddlProduct" valuefield="Id" textfield="Name" onchange="BindUnit()" @*blankRowValue="0" blankRowText="--Select--"*@></select>
                                                    </div>
                                                    <div class="form-group col-sm-2 col-md-2 col-lg-2">
                                                        <label class="invisible">
                                                            Button
                                                        </label>
                                                        <div>
                                                            <a class="btn btn-success btn-sm" href="/Inventory/NewProducts"><i class="fa fa-plus-square"></i></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                                        <label class="req" for="Salarydetails_unit">Code <span class="requird">*</span> </label>
                                                        <input class="form-control" readonly id="txtunitorder" name="txtunitorder" type="text" ng-model="txtunitorder" />
                                                    </div>
                                                    <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                                        <label class="req" for="Salarydetails_unit">Name <span class="requird">*</span> </label>
                                                        <input class="form-control" readonly id="txtName" name="txtName" type="text" ng-model="txtName" />
                                                    </div>
                                                    <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                                        <label class="req" for="Salarydetails_unit">Purchase Price <span class="requird">*</span> </label>
                                                        <input class="form-control" id="txtPurchase" name="txtPurchase" type="text" ng-model="txtPurchase" />
                                                    </div>
                                                </div>

                                                <div class="row">


                                                    <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                                        <label class="req" for="Salarydetails_unit">Quantity <span class="requird">*</span> </label>
                                                        <input class="form-control" value="0.00" id="txtQuantity" name="txtQuantity" type="text" ng-model="txtQuantity" />
                                                    </div>
                                                    <div id="sandbox" class="form-group col-sm-4 col-md-4 col-lg-4">
                                                        <label for="simple">Date</label>
                                                        <input id="simple" type="text" class="form-control" value="">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                                        <label class="req" for="Salarydetails_unit">Note</label>
                                                        <textarea class="form-control" id="txtNote"></textarea>
                                                    </div>


                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <div class="form_sep">
                                                            <input class="btn btn-info" id="btnSumit" type="button" value="Save">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <input type="hidden" id="hdnID" />
                                    </div>
                                        </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {

        if (localStorage.getItem("EditDamage") != null) {
            debugger;
            var Id = localStorage.getItem("EditDamage");
            $.ajax({
                type: 'Post',
                url: '/api/AccountsAPI/DamageList',
                data: { aa: Id },
                dataType: 'json',
                success: function (result) {
                    $('#hdnID').val(result[0].ID);
                    $('#ddlCategory').val(result[0].Name);
                    $('#txtName').val(result[0].Product);
                    $('#txtQuantity').val(result[0].Quantity);
                    $('#txtPurchase').val(result[0].PurchasePrice);
                    $('#simple').val(result[0].Date);
                    $('#txtNote').val(result[0].Note);
                    //$('#ddlGroup').val(result[0].GroupID);
                    //$('#txtAddress').val(result[0].Address);
                    //$('#ddlRegin').val(result[0].RegionID);
                    //$('#txtPostal').val(result[0].postal);
                    //$('#txtPhone').val(result[0].phone);
                    //$('#txtWebsite').val(result[0].Website);
                    //$('#txtFax').val(result[0].fax);
                    //$('#txtemail').val(result[0].Email);
                    //$('#txtEmaiAddress').val(result[0].EmailAddress);
                    //$('#txtBalance').val(result[0].balance);
                    $('#btnSumit') = Update;

                }
            });
            localStorage.removeItem("EditDamage");
        }


        $('.dtpicker').datepicker({
            //dateFormat: 'dd/mm/yy' ,supplier
            autoclose: true,
            format: 'dd/mm/yyyy'
        });
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

        var optSimple = {
            format: 'MM/dd/yyyy',
            todayHighlight: true,
            orientation: 'bottom right',
            autoclose: true,
            container: '#sandbox'
        };

        var optComponent = {
            format: 'MM/dd/yyyy',
            container: '#datePicker',
            orientation: 'auto top',
            todayHighlight: true,
            autoclose: true
        };

        // SIMPLE
        $('#simple').datepicker(optSimple);

        // COMPONENT
        $('#datePicker').datepicker(optComponent);

        // ===================================

        $('#datepicker1').datepicker({
            format: "mm : dd : yyyy",
            todayHighlight: true,
            autoclose: true,
            container: '#box1',
            orientation: 'top right'
        });

        $('#datepicker2').datepicker({
            format: 'MM/dd/yyyy',
            todayHighlight: true,
            autoclose: true,
            container: '#box2',
            orientation: 'top right'
        });

        $('#datepicker1, #datepicker2, #simple, #datePicker').datepicker('setDate', today);


        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "GetCategories", "ddlCategory", false, "", "", "", "");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "GetProducts", "ddlProduct", false, "", "", "", "");

        setControlValue("hdnID", 0);
        

        var ID = getQuerystring("id");
        if (typeof (ID) != "undefined") {
            setControlValue("hdn", ID);//

            GetValues(ID);

        }

        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                txtName: "required",
            },
            messages: {
                txtName: "Please Enter WareHouse Name",
            }
        })
        //callServiceMethodForDDl("", "/api/StudentApi", "GetLeaveStatus", "ddlReqStatus", false, "", "", "", "");
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#ddlProduct").change(function () {
        var ddlProduct = getControlValue("ddlProduct");
        if (ddlProduct != null && (ddlProduct != -1) && (ddlProduct != undefined)) {
            var SelectedText = $('#ddlProduct :selected').text();
            $('#txtName').val(SelectedText);
        }
    });
    function openModal() {
        $('#myModal').modal('show');
    }


    function successMsg(p1, p2, p3, datas) {

        $("#loader").fadeOut();

        setTimeout(function () {
            $('#example1').DataTable({

                dom: 'lBfrtip',
                bRetrieve: true,
                bDestroy: true,
                'columnDefs': [{
                    "targets": -1,
                    "orderable": false
                }],
            });
        }, 1000);
    }
    function BindUnit() {
        var productId = $('#ddlProduct').val();

        $.ajax({
            type: 'Get',
            url: '/api/Default/GetDamageProduct',
            data: { ProductId: productId },
            dataType: 'json',
            success: function (unitValue) {
                var unitRecord = unitValue.split(',');
                var unitName = unitRecord[0];
                var unitId = unitRecord[1];
                unitValue = unitValue.replace("\\\"", "");
                $('#txtPurchase').val(unitName);
                $('#txtQuantity').val(unitId);
            }
        });
    }


    $("#btnSumit").click(function () {
        var ID = getControlValue("hdnID");
        var Category = getControlValue("ddlCategory");
        var Product = getControlValue("ddlProduct")
        var UnitOrder = getControlValue("txtunitorder")
        var Name = getControlValue("txtName")
        var PurchasePrice = getControlValue("txtPurchase")
        var Quantity = getControlValue("txtQuantity")
        var Date = getControlValue("simple")
        var Note = getControlValue("txtNote")

        Save(ID, Category, Product, UnitOrder, Name, PurchasePrice, Quantity, Date, Note);
    });

    function Save(ID, Category, Product, UnitOrder, Name, PurchasePrice, Quantity, Date, Note) {

        if ($("#form1").valid()) {
            $("#loader").fadeIn();
            $.ajax({
                url: "/api/AccountsAPI/SaveService",
                type: "Post",
                data: JSON.stringify(["DamageProduct", ID, Category, Product, UnitOrder, Name, PurchasePrice, Quantity, Date, Note]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#loader").fadeOut();
                    if (data == 1) {
                        $("#divsuccesmsg").fadeIn();

                        $("#spsuccessMsg").html("Product Added Successfully ");
                        setTimeout(function () {
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        }, 2000)

                    }
                    else if (data == 2) {
                        $("#divsuccesmsg").fadeIn();

                        $("#spsuccessMsg").html("Product Updated Successfully ");
                        setTimeout(function () {
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        }, 2000)

                    }
                    else if (data == -1) {
                        $("#divsuccesmsg").fadeIn();

                        $("#spsuccessMsg").html("Product name already Exist");
                        setTimeout(function () {
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        }, 2000)
                    }
                    else {
                        alert("Some Error!!");
                    }
                    ResetModal();
                    fillDataTable();
                    //$('#myModal').modal('hide');

                }
            });

        }
    }

    function Save1(ID, Category, Product, UnitOrder, Name, PurchasePrice, Quantity, Date, Note) {


        $("#loader").fadeIn();
        $.ajax({
            url: "/api/AccountsAPI/SaveRecord",
            type: "Post",
            data: JSON.stringify(["NewProducts", ID, Category, Product, UnitOrder, Name, PurchasePrice, Quantity, Date, Note]),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#loader").fadeOut();
                if (data == 1) {
                    $("#divsuccesmsg").fadeIn();

                    $("#spsuccessMsg").html("Product Added Successfully ");
                    setTimeout(function () {
                        $("#divsuccesmsg").fadeOut();
                        $("#spsuccessMsg").html("");
                    }, 2000)

                }
                else if (data == 2) {
                    $("#divsuccesmsg").fadeIn();

                    $("#spsuccessMsg").html("Product Updated Successfully ");
                    setTimeout(function () {
                        $("#divsuccesmsg").fadeOut();
                        $("#spsuccessMsg").html("");
                    }, 2000)

                }
                else if (data == -1) {
                    $("#divsuccesmsg").fadeIn();

                    $("#spsuccessMsg").html("Product name already Exist");
                    setTimeout(function () {
                        $("#divsuccesmsg").fadeOut();
                        $("#spsuccessMsg").html("");
                    }, 2000)
                }
                else {
                    alert("Some Error!!");
                }
                ResetModal();
                fillDataTable();
                //$('#myModal').modal('hide');

            }
        });


    }


    function ResetAll() {
        setControlValue("txtBarcode", "");
        setControlValue("txtSn", "");
        setControlValue("txtProduct", "");
        setControlValue("txtModel", "");
        setControlValue("txtunitorder", "");
        setControlValue("txtStocke", "");
        setControlValue("txtUnits", "");
        setControlValue("txtReorder", "");
        setControlValue("ddlCategory", "");
        setControlValue("ddlUnit", "");
        setControlValue("ddlBrand", "");
        setControlValue("GalleryImage", "");
        setControlValue("txtProductDetails", "");
        fillDataTable();
    }

    function ResetModal() {
        setControlValue("txtBarcode", "");
        setControlValue("txtSn", "");
        setControlValue("txtProduct", "");
        setControlValue("txtModel", "");
        setControlValue("txtunitorder", "");
        setControlValue("txtStocke", "");
        setControlValue("txtUnits", "");
        setControlValue("txtReorder", "");
        setControlValue("ddlCategory", "");
        setControlValue("ddlUnit", "");
        setControlValue("ddlBrand", "");
        setControlValue("GalleryImage", "");
        setControlValue("txtProductDetails", "");
        setControlValue("hdnID", 0);
    }

</script>

